---
import Layout from "../layouts/Layout.astro";
---

<Layout titleSubPage="Home">
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
  />
  <div
    class="container-home w-full lg:h-[850px] h-[750px] bg-gradient-to-b from-black
     via-blue-950 to-violet-950 text-white flex justify-center items-center"
  >
    <div class="container-home-presentation mb-32">
      <h1 class="lg:text-6xl text-4xl text-center">
        My work is your best solution.
      </h1>
      <h2 class="text-3xl lg:m-10 m-5 text-center">
        <span
          id="full"
          class="text-blue-500 lg:animate-pulse lg:border border-blue-500 rounded-md lg:px-5 py-2 shadow-2xl lg:shadow-blue-800"
          >Full</span
        >
        <span
          id="stack"
          class="text-green-500 lg:animate-pulse lg:border border-green-500 rounded-md py-2 lg:px-2 p-1 shadow-2xl lg:shadow-green-800"
          >Stack</span
        >
        <span
          id="developer"
          class="text-violet-500 lg:animate-pulse lg:border border-violet-500 rounded-md py-2 lg:px-2 shadow-2xl lg:shadow-violet-800"
          >Developer</span
        >
      </h2>
      <h3 class="text-center text-3xl hidden lg:block">Jesus Alejandro</h3>
      <div
        class="container-button-info text-center lg:my-20 my-10 flex items-center justify-center gap-10 font-bold"
      >
        <a
          href="#contact"
          class="border basis-1/3 rounded-lg lg:h-16 h-12 lg:hover:bg-white flex items-center justify-center"
          >Contact me</a
        >
        <a
          href="#about"
          class="border border-solid border-black flex items-center justify-center basis-1/3 rounded-lg lg:h-16 h-12 bg-white
          text-black lg:hover:bg-black hover:border-white"
          >About me</a
        >
      </div>
    </div>
  </div>

  <section
    id="about"
    class="w-full h-screen bg-gradient-to-b from-violet-950 to-blue-800 text-white snap-start"
  >
    <div class="container-header-about w-full h-full">
      <div
        class="container-title-about w-full h-full flex justify-center font-semibold text-5xl"
      >
        <h1>About</h1>
      </div>
    </div>
  </section>
  <section
    id="projects"
    class="w-full h-screen scroll-snap-start text-white bg-gradient-to-b from-blue-800 to-violet-500 snap-start"
  >
    <div class="container-header-projects h-full w-full">
      <div
        class="container-title-projects h-full w-full flex justify-center font-semibold text-5xl"
      >
        <h1>Projects</h1>
      </div>
    </div>
  </section>
  <section
    id="contact"
    class="w-full h-screen text-white bg-gradient-to-b from-violet-500 to-black snap-start"
  >
    <div
      class="container-header-contact h-full w-full flex justify-center font-semibold text-5xl"
    >
      <div class="container-title-contact">
        <h1>Contact</h1>
      </div>
    </div>
  </section>
</Layout>
