---
import Header from "../components/Header.jsx";

interface Props {
  titlePage?: string;
  titleSubPage?: string;
}

const { titlePage = "NeroCode", titleSubPage } = Astro.props;
---

<html
  lang="en"
  class="!scroll-smooth lg:snap-y lg:snap-mandatory lg:overflow-scroll"
>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{titlePage} | {titleSubPage}</title>
  </head>
  <body class="scroll-smooth">
    <header>
      <Header client:load />
    </header>
    <main>
      <slot />
    </main>
    <footer></footer>
  </body>
</html>
